.header_page-index{
    position: absolute;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    h1{
        color: #901c1c;
        margin-right: 10px;
        @media screen and (max-width: 900px) {
            position: relative;
            bottom: 0;
            right: 10px;
           
        }
        @media screen and (max-width: 700px) {
            
            bottom: 129px;
            left: 30%;
            font-size: 1em;
        }
        @media screen and (max-width: 459px) {
            bottom: 130px;
            left: 120px;
        }
         @media screen and (max-width: 390px) {
            bottom: 156px;
            left: 113px;
        }
        @media screen and (max-width: 349px) {
            bottom: 151px;
            left: 26%;
        }
        @media screen and (max-width: 339px) {
            bottom: 151px;
            left: 26%;
        }
    }
    a img{
        @media screen  and (max-width: 359px){
            width : 8rem ;
        }   
        
       
    }
    @media screen and (max-width: 700px){
        flex-wrap: wrap;
         width: auto;
        .logo{
            
            padding: 1rem 0 0 1rem;
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }

    }
}



