.lightbox{
    display: none;
}

.active-lightbox{
    display: block;
    width: 50%;
    height: 50%;
    z-index: 10;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.6);

    .button-next,
    .button-previous{
        width:40px;
        height: 100%;
        border: none;
        position: fixed;
        top: 0;
        
        opacity: 0.5;
        z-index: 11;
        transition: opacity 0.5s;
      
        
        
    }
    .button-next:hover,
    .button-previous:hover{
            opacity: 1;
         }
    .button-next{
        background: url(../assets/image-utils/next.svg) center center / 100% 100%;
        right: 0;
        background-color: #E5E5E5 ;
    }

    .button-previous{
        background: url(../assets/image-utils/prev.svg) center center / 100% 100%;
        right: auto;
        left: 0;
        background-color: #E5E5E5 ;
        
    }
    .button-close{
        border: none;
        background: url(../assets/image-utils/close-image.svg) center center / 100% 100%;
        width: 40px;
        height: 10%;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 11;

    }

    
    

    
}
