.lightbox{
    display: none;
}

.active-lightbox{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.6);

    .button-next,
    .button-previous{
        width: 14px;
        height: 8px;
        border: none
        
    }

    .button-next{
        background: url() center center / 100% 100%;
    }

    .button-previous{
        background: url("C:\Users\kevin\Desktop\Formation developpeur FRONT-END OPEN CLASSROOMS\livrables\P6_ALL\P6_Kevin_Dobler_Project\assets\Sample Photos\imageOfModel\prev.svg") center center / 100% 100%;
        width: 4em;
    }
    .image_container{
    }

    
}
