body{
    min-width: 320px;
}
.title_index{
    color: $color_primary;
    position: relative;
    bottom: 70px;
    margin-left: 70%;
    
    @media screen and (max-width: 961px){
        
        position: relative;
        bottom: 157px;
        margin-left: 60%;
        font-size: 0.875em;
    }
    
}
.return_main{
    display: none;
}
.return_main-active{
    display: block;
    width: 100%;
    position: fixed;
    left: 50%;
    margin: auto;
    z-index: 2;
    margin-top: 0.2em;
    
    

    #main_return{
        background-color: $color_secondary;
        position: fixed ;
        padding: 0.2em;
        text-decoration: none;
        color: black;
        font-weight: 700;
        border-radius: 10px;
    }
}

.main_index{
    padding-top: 150px;
    @media screen and(max-width:367px){
        padding-top: 190px;
    }
}