body{
    min-width: 320px;
}
.title_index{
    color: $color_primary;
<<<<<<< HEAD
    position: absolute;
    top: 27px;
=======
    position: relative;
    bottom: 70px;
>>>>>>> dynamiqueCarte
    margin-left: 70%;
    
    @media screen and (max-width: 961px){
        
<<<<<<< HEAD
        margin-left: 70%;
=======
        position: relative;
        bottom: 157px;
        margin-left: 60%;
>>>>>>> dynamiqueCarte
        font-size: 0.875em;
    }
    
}
.return_main{
    display: none;
}
.return_main + .active{
    z-index: 2;
    width: 100%;
    position: fixed;
    #main_return{
        background-color: $color_primary;
        position: fixed ;
    }
}

.main_index{
    padding-top: 150px;
    @media screen and(max-width:367px){
        padding-top: 190px;
    }
}